<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<link rel="stylesheet" th:href="@{/css/N-theme.css}"/>
<title layout:fragment="title">Modification</title>
<div layout:fragment="content">
  <div class="container">
    <h2>Modifier</h2>
    <form th:action="@{/utilisateurs/edit}" th:object="${user}" method="post" class="max-w-md mx-auto"  >

      <div class="relative z-0 w-full mb-5 group">
        <input th:field="*{email}" type="email" name="email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input th:field="*{password}" type="password" name="password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot de Passe</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input th:field="*{rue}" type="text" name="floating_street" id="floating_street" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
        <label for="floating_street" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Rue</label>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <input th:field="*{codePostal}" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Code Postal</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input th:field="*{ville}" type="text" name="floating_city_name" id="floating_city_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="floating_city_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Ville</label>
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-5 group">
          <input th:field="*{prenom}" type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prénom</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
          <input th:field="*{nom}"type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
          <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
        </div>
      </div>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
<!--    <form th:action="@{/utilisateurs/edit}" th:object="${user}" method="post">-->
<!--      <div class="form-group">-->
<!--        <input type="hidden" th:field="*{id}">-->
<!--        <label for="nom">Nom:</label>-->
<!--        <input type="text" th:field="*{nom}" class="form-control" placeholder="Entrez votre nom" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="prenom">Prénom:</label>-->
<!--        <input type="text" th:field="*{prenom}" class="form-control" placeholder="Entrez votre prénom" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="email">Email:</label>-->
<!--        <input type="email" th:field="*{email}" class="form-control" placeholder="Entrez votre email" required>-->
<!--        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></p>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="password">Mot de passe:</label>-->
<!--        <input type="password" th:field="*{password}" class="form-control" placeholder="Entrez votre mot de passe" required>-->
<!--        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></p>-->

<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="rue">Rue:</label>-->
<!--        <input type="text" th:field="*{rue}" class="form-control" placeholder="Entrez votre rue" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="codePostal">Code Postal:</label>-->
<!--        <input type="text" th:field="*{codePostal}" class="form-control" placeholder="Entrez votre code postal" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="ville">Ville:</label>-->
<!--        <input type="text" th:field="*{ville}" class="form-control" placeholder="Entrez votre ville" required>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="employe">Employé:</label>-->
<!--        <input type="checkbox" th:field="*{employe}" class="form-check-input">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <button type="submit" class="btn btn-primary">Modifier</button>-->
<!--      </div>-->
<!--    </form>-->


  </div>



</div>
</html>