<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<title layout:fragment="title">Panier</title>
<div layout:fragment="content">
    <body>
    <h1 class="text-2xl font-bold mb-6 bg-red-600 text-white py-2 px-4 rounded-full shadow-md">Commandes</h1>

    <!-- Formulaire de filtre pour les états -->
    <form th:action="@{/commandes}" method="get" class="mb-6">
        <div class="flex flex-wrap items-center space-x-4">
            <label class="flex items-center bg-blue-100 text-blue-700 py-1 px-2 rounded-full">
                <input type="checkbox" name="etatIds" value="1"
                       th:checked="${etatIds != null and #lists.contains(etatIds, 1)}" class="form-checkbox h-4 w-4 rounded focus:ring-blue-500">
                <span class="ml-2 text-sm">Panier</span>
            </label>
            <label class="flex items-center bg-blue-100 text-blue-700 py-1 px-2 rounded-full">
                <input type="checkbox" name="etatIds" value="2"
                       th:checked="${etatIds != null and #lists.contains(etatIds, 2)}" class="form-checkbox h-4 w-4 rounded focus:ring-blue-500">
                <span class="ml-2 text-sm">En préparation</span>
            </label>
            <label class="flex items-center bg-yellow-100 text-yellow-700 py-1 px-2 rounded-full">
                <input type="checkbox" name="etatIds" value="3"
                       th:checked="${etatIds != null and #lists.contains(etatIds, 3)}" class="form-checkbox h-4 w-4 rounded focus:ring-yellow-500">
                <span class="ml-2 text-sm">En livraison</span>
            </label>
            <label class="flex items-center bg-green-100 text-green-700 py-1 px-2 rounded-full">
                <input type="checkbox" name="etatIds" value="4"
                       th:checked="${etatIds != null and #lists.contains(etatIds, 4)}" class="form-checkbox h-4 w-4 rounded focus:ring-green-500">
                <span class="ml-2 text-sm">Commande terminée</span>
            </label>
            <button type="submit" class="px-4 py-2 text-white bg-red-600 rounded-md shadow hover:bg-red-700 focus:outline-none">Filtrer</button>
        </div>
    </form>

    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
        <thead>
        <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
            <th class="py-3 px-6 text-left">ID</th>
            <th class="py-3 px-6 text-left">Date</th>
            <th class="py-3 px-6 text-left">Heure</th>
            <th class="py-3 px-6 text-left">Livraison</th>
            <th class="py-3 px-6 text-left">Prix total</th>
            <th class="py-3 px-6 text-left">Montant payé</th>
            <th class="py-3 px-6 text-left">État</th>
            <th class="py-3 px-6 text-left">Action</th>
            <th class="py-3 px-6 text-left">Détails de commande</th>
        </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
        <tr th:each="commande : ${commandes}" class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-3 px-6 text-left" th:text="${commande.id}"></td>
            <td class="py-3 px-6 text-left" th:text="${commande.date}"></td>
            <td class="py-3 px-6 text-left" th:text="${commande.heure}"></td>
            <td class="py-3 px-6 text-left" th:text="${commande.livraison}"></td>
            <td class="py-3 px-6 text-left" th:text="${commande.prixTotal}"></td>
            <td class="py-3 px-6 text-left" th:text="${commande.montantPaye}"></td>
            <td class="py-3 px-6 text-left" th:text="${commande.etatCommande.libelle}"></td>
            <td class="py-3 px-6">
                <form th:action="@{/updateEtatCommande}" method="post">
                    <input type="hidden" name="commandeId" th:value="${commande.id}">
                    <input type="hidden" name="livraison" th:value="${commande.livraison}">
                    <button type="submit" class="text-white bg-blue-500 hover:bg-blue-600 px-2 py-1 rounded focus:outline-none"
                            th:text="${commande.etatCommande.id == 2 ? (commande.livraison ? 'Prête' : 'Terminer') : (commande.etatCommande.id == 3 ? 'Livrée' : '---')}"></button>
                </form>
            </td>
            <td class="py-3 px-6">
                <ul class="list-disc pl-5">
                    <li th:each="detailCommande : ${commande.detailCommandes}">
                        <span th:text="${detailCommande.produit.nom}"></span> (<span th:text="${detailCommande.quantite}"></span>)
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>




    </body>
</div>
</html>
