<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>


<body class="eni-page-background">
<title layout:fragment="title">Panier</title>
<div layout:fragment="content">

    <div class="flex flex-col items-center mb-6 ">
    <h1 class="text-3xl font-bold text-center mb-6 text-red-600">Panier</h1>
  </div>
    <div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-lg mb-6 border border-gray-200">
        <div th:if="${commande == null}" class="text-center">
            <p class="text-lg text-gray-600">Votre panier est vide.</p>
        </div>

        <div th:if="${commande != null}">
            <h2 class="text-2xl font-semibold mb-4">Commande ID: <span th:text="${commande.id}"></span></h2>
            <ul class="space-y-4">
                <li th:each="detail : ${commande.detailCommandes}" class="flex items-center bg-red-700 p-4 rounded-lg shadow-md">
                    <img th:src="@{${detail.produit.image}}" alt="Image du produit" class="w-24 h-24 rounded-md object-cover mr-4"/>
                    <div class="flex-grow">
                        <span class="text-lg font-semibold" th:text="${detail.produit.nom}"></span>
                        <p class="text-sm text-gray-600">
                            <span th:text="${detail.quantite}"></span> unités -
                            <span th:text="${detail.produit.prix * detail.quantite}"></span> €
                        </p>
                    </div>
                </li>
            </ul>

            <p class="text-xl font-bold mt-4">Total: <span th:text="${commande.prixTotal}"></span> €</p>
        </div>
    </div>

    <div th:if="${commande != null}" class="flex flex-col items-center mb-6">
        <form action="/validerCommande" method="post" class="mb-4">
            <button type="submit" class="px-4 py-2 font-semibold text-white bg-red-600 rounded-md shadow hover:bg-red-700 focus:outline-none">
                Valider la commande
            </button>
        </form>
        <div class="flex flex-col items-center mb-6">
            <a href="list2" class="px-4 py-2 font-semibold text-white bg-red-600 rounded-md shadow hover:bg-red-700 focus:outline-none">
                Retour à la liste
            </a>
        </div>
    </div>

</div>
</body>
</html>