<!DOCTYPE html>
<html layout:decorate="~{layout/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>


<title layout:fragment="title">Gestion de produit</title>
<div layout:fragment="content">

    <body>
    <div class="uk-container">

        <h1>Ajouter ou Modifier un produit</h1>

        <form th:object="${produit}" method="post" th:action="@{/create-produit}">
            <!--id-->
            <input th:field="*{id}" type="hidden">
            <!-- Champ nom -->
            <div class="uk-margin">
                <label class="uk-form-label" for="nom">Nom du Produit</label>
                <div class="uk-form-controls">
                    <input th:field="*{nom}" class="uk-input" type="text" placeholder="Saisir le nom">
                    <ul th:if="${#fields.hasErrors('nom')}">
                        <li class="uk-form-danger" th:each="error: ${#fields.errors('nom')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
<!--            Champ Type de produit-->
            <label class="uk-form-label" for="typeproduit">Type de Produit</label>
            <select th:field="*{typeProduit}">

                <option th:each="cat :${types}" th:value="${cat.id}" th:text="${cat.libelle}"></option>

            </select>
            <!-- Champ description -->
            <div class="uk-margin">
                <label class="uk-form-label" for="description">Description</label>
                <div class="uk-form-controls">
                    <input th:field="*{description}" class="uk-textarea">
                    <ul th:if="${#fields.hasErrors('description')}">
                        <li class="uk-form-danger" th:each="error: ${#fields.errors('description')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <!-- Champ prix -->
            <div class="uk-margin">
                <label class="uk-form-label" for="prix">Prix</label>
                <div class="uk-form-controls">
                    <input th:field="*{prix}" class="uk-input" type="number" placeholder="Saisir le Prix">
                    <ul th:if="${#fields.hasErrors('prix')}">
                        <li class="uk-form-danger" th:each="error: ${#fields.errors('prix')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <!-- Champ image -->

            <div class="uk-margin">
                <label class="uk-form-label" for="image">Image </label>
                <div class="uk-form-controls">
                    <input th:field="*{image}" class="uk-input" type="text" placeholder="Entrer l'url de l'image">
                    <ul th:if="${#fields.hasErrors('image')}">
                        <li class="uk-form-danger" th:each="error: ${#fields.errors('image')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <!-- Bouton submit -->
            <div class="uk-margin">
                <input type="submit" value="Enregister" class="uk-button uk-button-primary uk-width-1-1"/>
            </div>
        </form>
    </body>



</html>